.header {
    color: ivory;
    background-color: steelblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 16px 0 16px 0;
    margin-bottom: 24px;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: steelblue;
}

.size {
    margin: 16px 0 16px 0;
}

.center {
    text-align: center;
}

p {
    padding: 16px 0 10px 0;
}